name: Terraform Validate
on:
  pull_request:
  workflow_dispatch:

jobs:
  fmt:
    name: Terraform Fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform Fmt
        run: terraform fmt -check -recursive

  validate:
    name: Terraform Validate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Verify all environment directories
        directory: [environments/dev/us-east-1, environments/prod/us-east-1]
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.4

      - name: Terraform Init
        working-directory: ${{ matrix.directory }}
        run: terraform init -backend=false

      - name: Terraform Validate
        working-directory: ${{ matrix.directory }}
        run: terraform validate
